
.picker__select--year, .picker__select--month {
  height: 2.5em;
}

#app-container {
  display: flex;
  flex-flow: row;
}

#graph-query {
  display: flex;
  flex-flow: column;
}

#gq-query-results {
  display: flex;
  justify-content: center;
  margin: auto;
}

.gq-input {
  width: 100%;
  padding: 3px;
}

.gq-input label {
  align-self: flex-start;
}

.gq-input > input, .gq-input > select {
  align-self: flex-end;
  margin-left: auto;
  float: right;
}

.num {
  padding: 5px;
}

.graph-canvas {
  width: 400px;
  height: 400px;
}

footer {
  text-align: center;
}
/*
.picker__header {
  line-height: 5em;
}
*/
